/* Overall */

.centered {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1080px) {
	.centered {

	}
}

body {
	  background-color: #fff;
}

/* H1 headers*/

h1 {
	font-family: 'open sans condensed' , 'helvetica' , 'sans-serif';
	font-weight: 300;
	font-size: 28px;
	color: #565656;
	text-align: center;
	margin: 20px 0 10px 0;
	line-height: 130%;
}

@media (min-width: 700px) {
	h1 {
		font-size: 34px;
		position: relative;
		text-align: left;
		margin-top: 0px;
	}
}

@media (min-width: 1080px) {
	h1 {
		font-size: 48px;
	}
}

/* H2 headers */

h2 {
	font-family: 'open sans condensed' , 'helvetica' , 'sans-serif';
	font-weight: 300;
	font-size: 24px;
	color: #565656;
	text-align: center;
	line-height: 130%;
}

@media (min-width: 700px) {
	h2 {
		font-size: 30px;
	}
}

@media (min-width: 940px) {
	h2 {
		font-size: 42px;
	}
}

.white-h2 {
	color: #fff;
}

/* H3 Headers */

h3 {
	margin: 0 0 20px 0;
	font-family: 'open sans condensed' , 'helvetica' , 'sans-serif';
	font-weight: 300;
	font-size: 24px;
	color: #ffca00;
	text-align: center;
	letter-spacing: 2px;
}

@media (min-width: 700px) {
	h3 {
		font-size: 30px;
		vertical-align: top;
		margin: 0 0 30px 0;
	}
}

@media (min-width: 800px) {
	h3 {
		font-size: 38px;
	}
}

.h3-grey {
	color: #565656;
}

h4 {
	font-size: 16px;
	font-family: 'helvetica' , 'sans-serif';
	font-weight: 100;
	color: #565656;
	margin-bottom: 20px;
	line-height: 110%;
}

@media (min-width: 700px) {
	h4 {
		font-size: 18px;
		text-align: left;
		margin-bottom: 20px;
	}
}

@media (min-width: 1080px) {
	h4 {
		font-size: 20px;
	}
}


/*  Paragraphs and Links */

p {
	font-family: 'helvetica' , 'arial';
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
	font-family: 'helvetica' , 'arial' , 'sans-serif';
	color: #000;
}


/* Header background */

header {
	height: 80px;
	padding-top: 10px;
	background-color: #ffca00;
}


/* Logo */

.logo {
	height: 40px;
	width: 40px;
	background-image: url(img/LS-black-thin-pixel-40.png);
	background-repeat: none;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}



/* Navigation */

ul {
	text-align: center;
	
}

.nav-container ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin: 0;
}

.nav-container ul li {
	display: inline;
}


.nav-item {
	margin: 20px 5px 10px 5px;
	font-family: 'helvetica' , 'arial';
	font-weight: 100;
	font-size: 12px;
	color: #000;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: line-through;
}

@media (min-width: 700px) {
	.nav-item {
		margin-left: 1px;
		margin-right: 1px;
		padding: 5px  10px 5px 10px;
	}
}


@media (min-width: 700px) {
	.nav-item:hover {
		background-color: #f2c000;
	}
}

/* General content */

.main-container {
	background-color: #e9f0f6;
	padding: 5px 1% 80px 1%;
}

@media (min-width: 700px) {
	.main-container {
		padding: 5px 5% 80px 5%;
	}
}


/* Introduction */

.intro {
	background-color: #bec5ca;
	margin-bottom: 0px;
	padding: 80px 0;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #565656;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

}


/* Projects */

.project {

	min-height: 290px;
	max-height: 600px;
	max-width: 1120px;
	padding: 5px 0px 0px 0px;
	margin: 20px 0 40px 0;
}

@media (min-width: 700px) {
	.project {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	}
}

.description {
	text-align: center;
}

@media (min-width: 700px) {
	.description {
		width: 50%;
		min-width: 300px;
		float: left;
	}
}


/* Tags */


.tag-container ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}

@media (min-width: 700px) {
	.tag-container ul {
		text-align: left;
	}
}

.tag-container ul li {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}


.tag {
	margin: 20px 0px 10px 0px;
	font-family: 'helvetica' , 'arial';
	font-weight: 100;
	font-size: 12px;
	color: #767676;
	background-color: #dadada;
	padding: 5px;
	letter-spacing: 1px;
}


/* Buttons */

.primary-button {
	height: 44px;
	padding: 10px 40px;
	background-color: #ffca00;
	color: #000;
	border-style: none;
	margin: 40px 0 20px 0;
	font-family: 'helvetica' , 'sans-serif';
	font-size: 12px;
	font-weight: 100;
	display: block;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	letter-spacing: 1px;
	word-spacing: 5px;
	text-transform: uppercase;
}

.primary-button:hover {
	background-color: #bfbfbf;
	color: #fff;
}

.primary-button:active {
	background-color: #b1b1b1;
}

@media (min-width: 700px) {
	.primary-button {
		display: none;
	}
}

.primary-button2 {
	height: 44px;
	padding: 10px 40px;
	background-color: #ffca00;
	color: #000;
	border-style: none;
	margin: 40px 0 20px 0;
	font-family: 'helvetica' , 'sans-serif';
	font-size: 12px;
	font-weight: 100;
	display: none;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	letter-spacing: 2px;
	word-spacing: 5px;
	text-transform: uppercase;
}

.primary-button2:hover {
	background-color: #bfbfbf;
	color: #fff;
}

.primary-button2:active {
	background-color: #b1b1b1;

}

@media (min-width: 700px) {
	.primary-button2 {
		display: block;
		margin-left: 0px;
	}
}


/* Turkcell */

.turkcell-img {
	height: 290px;
	width: 290px;
	background-image: url(img/turkcell/Turkcell-data-package.png);
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 700px) {
	.turkcell-img {
		float: right;
		margin-left: 20px;
	}
}

@media (min-width: 870px) {
	.turkcell-img {
		width: 46%;
		background-repeat: no-repeat;
	}
}


/* Henieken */

.heineken-img {
	height: 290px;
	width: 290px;
	background-image: url(img/heineken/tablet-mobile-290-500.png);
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 700px) {
	.heineken-img {
		float: right;
		margin-left: 20px;
	}
}

@media (min-width: 870px) {
	.heineken-img {
		width: 46%;
		background-repeat: no-repeat;
	}
}


/* Brands */

.brands {
	padding: 40px 0;
	min-height: 300px;
	max-height: 1100px;
	background-color: #bec5ca;
	margin-bottom: 0px;
	text-align: center;
	
}

.brand-logo {
	height: 100px;
	width: 100px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	text-align: center;
}

.brand-container-1 {
	display: inline-block;
}
.brand-container-2 {
	display: inline-block;
}

.microsoft-logo {
	background-image: url(img/brands/microsoft-small.png);
}

.heineken-logo {
	background-image: url(img/brands/heineken-small.png);
}

.turkcell-logo {
	background-image: url(img/brands/turkcell-small.png);
}

.unilever-logo {
	background-image: url(img/brands/unilever-small.png);
}

@media (min-width: 460px) {

	.brand-logo {
		height: 200px;
		width: 200px;
	}

	.microsoft-logo {
		background-image: url(img/brands/microsoft.png);
	}

	.heineken-logo {
		background-image: url(img/brands/heineken.png);
	}

	.turkcell-logo {
		background-image: url(img/brands/turkcell.png);
	}

	.unilever-logo {
		background-image: url(img/brands/unilever.png);
	}
}

/* Foooter */

footer {
	height: 200px;
	background-color: #4c4c4c;
	padding: 40px 0 0 0;
	margin-top: -20px;
}

/* Contact information */

.icons {
	text-align: center;
}

.icon {
	margin: 10px;
}

.linkedin {
	height: 64px;
	width: 64px;
	background-image: url(img/social/linkedin-64.png);
	display: inline-block;
}

.linkedin:hover {
	background-image: url(img/social/linkedin-64-hover.png);
}

.email {
	height: 64px;
	width: 64px;
	background-image: url(img/social/email-64.png);
	display: inline-block;
}

.email:hover {
		background-image: url(img/social/email-64-hover.png);
}

.twitter {
	height: 64px;
	width: 64px;
	background-image: url(img/social/twitter-64.png);	
	display: inline-block;
}

.twitter:hover {
	background-image: url(img/social/twitter-64-hover.png);
}


/* Misc */

.red {
	color: #ea103a;
}